* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

body {
  font-family: "Alata", sans-serif;
}
body header {
  height: 100vh;
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(6, 6, 6, 0.2);
}
body header .mobile-links {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
  padding: 50px;
  transition: 0.3s;
  left: 100%;
}
body header .mobile-links .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .mobile-links .logo img {
  cursor: pointer;
}
body header .mobile-links > ul.links {
  margin-top: 150px;
  list-style: none;
}
body header .mobile-links > ul.links li {
  margin: 30px 0;
}
body header .mobile-links > ul.links li a {
  text-decoration: none;
  color: hsl(0, 0%, 55%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}
body header .container {
  position: relative;
  display: flex;
  flex-direction: column;
}
body header .container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}
body header .container .head img {
  cursor: pointer;
}
body header .container .head ul.links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
body header .container .head ul.links li {
  padding: 10px;
  position: relative;
  cursor: pointer;
}
body header .container .head ul.links li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
body header .container .head ul.links li:hover::after {
  width: 30px;
}
body header .container .head ul.links li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
body header .container .head .hamburger {
  display: none;
}
body header .container p {
  display: block;
  border: 2px solid hsl(0, 0%, 100%);
  width: 600px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: normal;
  padding: 30px;
  line-height: 1.2;
  margin-top: 50px;
}
body main .leader {
  padding: 10% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .leader .info {
  background-color: hsl(0, 0%, 100%);
  margin: 0 0 -250px -150px;
  padding: 70px;
}
body main .leader .info h2 {
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}
body main .leader .info p {
  color: hsl(0, 0%, 55%);
}
body main .our-creation .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .our-creation .header h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-weight: normal;
}
body main .our-creation .header button {
  width: 150px;
  padding: 12px 0;
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 0%);
  outline: none;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
}
body main .our-creation .header button:hover {
  background-color: black;
  color: hsl(0, 0%, 100%);
}
body main .our-creation .creations {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}
body main .our-creation .creations .creation {
  width: 256px;
  height: 450px;
  position: relative;
  cursor: pointer;
}
body main .our-creation .creations .creation::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s;
}
body main .our-creation .creations .creation:hover::before {
  background-color: hsla(100, 100%, 100%, 0.8);
}
body main .our-creation .creations .creation:hover span {
  color: hsl(0, 0%, 0%);
}
body main .our-creation .creations .creation span {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-60%);
  font-size: 28px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  width: 70%;
}
body main .our-creation .creations .creation:nth-child(1) {
  background-image: url(../images/desktop/image-curiosity.jpg);
}
body main .our-creation .creations .creation:nth-child(2) {
  background-image: url(../images/desktop/image-night-arcade.jpg);
}
body main .our-creation .creations .creation:nth-child(3) {
  background-image: url(../images/desktop/image-soccer-team.jpg);
}
body main .our-creation .creations .creation:nth-child(4) {
  background-image: url(../images/desktop/image-grid.jpg);
}
body main .our-creation .creations .creation:nth-child(5) {
  background-image: url(../images/desktop/image-from-above.jpg);
}
body main .our-creation .creations .creation:nth-child(6) {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
}
body main .our-creation .creations .creation:nth-child(7) {
  background-image: url(../images/desktop/image-curiosity.jpg);
}
body main .our-creation .creations .creation:nth-child(8) {
  background-image: url(../images/desktop/image-fisheye.jpg);
}
body footer {
  background-color: hsl(0, 0%, 0%);
  padding: 70px 0;
}
body footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .container .footer-logo img {
  cursor: pointer;
}
body footer .container .footer-logo ul {
  display: flex;
  list-style: none;
  margin-top: 10px;
}
body footer .container .footer-logo ul li {
  padding-right: 25px;
  position: relative;
}
body footer .container .footer-logo ul li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  bottom: -6px;
  left: 50%;
  transform: translateX(-82%);
  transition: 0.3s;
}
body footer .container .footer-logo ul li:hover::after {
  width: 40px;
}
body footer .container .footer-logo ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
body footer .container .footer-info .social {
  text-align: right;
}
body footer .container .footer-info .social img {
  margin-left: 15px;
  cursor: pointer;
}
body footer .container .footer-info p {
  color: hsl(0, 0%, 55%);
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 750px) {
  body header .mobile-links {
    padding: 30px;
  }
  body header .mobile-links img:first-child {
    width: 150px;
  }
  body header .mobile-links ul li {
    margin: 25px 0 !important;
  }
  body header .mobile-links ul li a {
    font-size: 16px !important;
  }
  body header .container .head {
    height: 100px;
  }
  body header .container .head img:first-child {
    width: 150px;
  }
  body header .container .head ul.links {
    display: none;
  }
  body header .container .head .hamburger {
    display: block;
  }
  body header .container p {
    width: 100%;
    font-size: 32px;
    padding: 30px 15px;
    line-height: 1.5;
    margin-top: 100px;
  }
  body main .our-creation {
    margin-top: 50px;
  }
  body main .our-creation .header {
    flex-direction: column !important;
    justify-content: center;
  }
  body main .our-creation .header h2 {
    font-size: 33px !important;
  }
  body main .our-creation .header button {
    width: 50%;
    margin-top: 20px;
  }
  body main .our-creation .creations {
    margin: 50px 0 !important;
  }
  body main .our-creation .creations .creation {
    width: 654px !important;
    height: 200px !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  body main .our-creation .creations .creation span {
    font-size: 22px;
  }
  body main .our-creation .creations .creation:nth-child(1) {
    background-image: url(../images/mobile/image-curiosity.jpg) !important;
  }
  body main .our-creation .creations .creation:nth-child(2) {
    background-image: url(../images/mobile/image-night-arcade.jpg) !important;
  }
  body main .our-creation .creations .creation:nth-child(3) {
    background-image: url(../images/mobile/image-soccer-team.jpg) !important;
  }
  body main .our-creation .creations .creation:nth-child(4) {
    background-image: url(../images/mobile/image-grid.jpg) !important;
  }
  body main .our-creation .creations .creation:nth-child(5) {
    background-image: url(../images/mobile/image-from-above.jpg) !important;
  }
  body main .our-creation .creations .creation:nth-child(6) {
    background-image: url(../images/mobile/image-pocket-borealis.jpg) !important;
  }
  body main .our-creation .creations .creation:nth-child(7) {
    background-image: url(../images/mobile/image-curiosity.jpg) !important;
  }
  body main .our-creation .creations .creation:nth-child(8) {
    background-image: url(../images/mobile/image-fisheye.jpg) !important;
  }
  body footer .container {
    flex-direction: column;
    text-align: center;
  }
  body footer .container .footer-logo ul {
    flex-direction: column;
  }
  body footer .container .footer-logo ul li {
    padding: 0 !important;
    margin-bottom: 20px;
  }
  body footer .container .footer-logo ul li::after {
    transform: translateX(-50%) !important;
  }
  body footer .container .footer-info {
    margin-top: 20px;
  }
  body footer .container .footer-info .social {
    text-align: center;
  }
}
@media (max-width: 1150px) {
  main .leader {
    flex-direction: column;
  }
  main .leader .image {
    flex: 1 !important;
  }
  main .leader .image img {
    width: 100%;
  }
  main .leader .info {
    flex: 1 !important;
    margin: 20px !important;
    padding: 0px !important;
    text-align: center;
  }
  main .leader .info h2 {
    font-size: 33px !important;
  }
}/*# sourceMappingURL=style.css.map */